/* mutaman group custom styles */

:root {
    --red : #800000;
    --orange : #e96200;
}

body {
    font-family: 'Tajawal',sans-serif !important;
    direction: ltr;
    line-height: 1.6;
    font-size: 1.3rem;
    /* margin: 20px; */
    /* padding: 20px; */
    background-color: #f4f4f4;
}

.home-jumbo {
    background-image: url('../images/tranport and agri.png');
    background-repeat: no-repeat;
}

#moutamanLogo {
    height: 100px;
    width: auto;
}

#moutamanFtLogo {
    height: 250px;
    width: auto;
}

.hero {
    background-image: url('img/hero.jpg');
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
} */

.subtitle {
    color : var(--orange);
    font-weight : 600;
}

.brand {
    color : var(--orange);
    font-weight : 600;
}

.nav-link {
    color : var(--red);
}

.nav-link :hover {
    color : var(--orange) !important;
    font-weight: 600;
}

.links {
    color : var(--orange) !important;
}

.links :hover {
    color: var(--red);
}

h1 {
    color: #333;
    color: var(--orange);
}

p {
    color: #555;
}

.highlight {
    font-weight: bold;
    color: #007BFF;
}

.icon {
    font-size: 2rem;
}

/* #loghero {
    position: relative;
}
#logabout {
    position: absolute;
    z-index: 1;
} */