/* mutaman group custom styles */

body {
    font-family: 'Tajawal',sans-serif !important;
    direction: ltr;
    line-height: 1.6;
    font-size: 1.3rem;
    /* margin: 20px; */
    /* padding: 20px; */
    background-color: #f4f4f4;
}

.hero {
    background-image: url('img/hero.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
} */
h1 {
    color: #333;
}
p {
    color: #555;
}
.highlight {
    font-weight: bold;
    color: #007BFF;
}

.icon {
    font-size: 2rem;
}